@import "./variables.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{

    font-size:16px;

}

body{

    background:var(--color-bg);

    color:var(--color-text);

    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

}

button{

    cursor:pointer;

    transition:var(--transition);

    font-family:inherit;

}

input,
textarea,
button{

    font-size:1rem;

}

a{

    color:inherit;

    text-decoration:none;

}

input{

    background:var(--color-surface-light);

    border:1px solid var(--color-border-light);

    color:var(--color-text);

    padding:.85rem;

    border-radius:var(--radius-sm);

}

input:focus{

    outline:none;

    border-color:var(--color-primary);

}

button{

    border:none;

    background:var(--color-primary);

    color:white;

    padding:.9rem;

    border-radius:var(--radius-sm);

}

button:hover{

    background:var(--color-primary-hover);

}

button:disabled{

    opacity:.6;

    cursor:not-allowed;

}